<!-- Design From Easy tutorials Login & Registration Form  -->
<!DOCTYPE html>
<html>
<head>
	<title>Registration Form</title>
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/loginreg.css')}}"> 
</head>
<body class="text-center">
	<form method="post" class = "form-signin">
		<div class="m-3">
			<h2 class="h1 mb-4"> Registration </h2>

			<div class="input-group">
				<input type="text" name="firstname" aria-label="First name" class="form-control" placeholder="First Name" required>
				<input type="text" name="lastname" aria-label="Last name" class="form-control" placeholder="Last Name" required>
			  </div>
			<input type="number" name="id" class="form-control" placeholder="ID" required>
			<select name="profession" class="form-control" required>
				<option value="" disabled selected>Select user type</option>
				<option value="Student">Student</option>
				<option value="Instructor">Instructor</option>
			</select>
			<p class="mb-1 mt-2 text-left pl-2 font-weight-bold">Account Details</p>
			<input type="text" name="username" class="form-control" placeholder="Username" required>
			<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" minlength="8" required>			
			<button type="submit" class="btn btn-lg btn-success btn-block mt-2">Create</button> 
			<p class="message mt-2"> Already Registered? <a href="/"><strong>Login</strong></a></p> 

		</div>
	</form>
</body>
</html>