<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/resources.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/common.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=0.6">
	<link rel="icon" href="/static/tree.png">
	<title>CSC B20 — Resources</title>
</head>
<body>
	<nav id='navpages'>
		<ul>
			<a href="index.html" class="hbutton">Home</a>
			<a href="calendar.html"class="hbutton">Calendar</a>
			<a href="lectures.html" class="hbutton">Lectures</a>
			<a href="assignments.html"class="hbutton">Assignments</a>
			<a href="labs.html" class="hbutton">Labs</a>
			<a href="https://piazza.com/class/k5l8ww7kz8l6f0" target="_blank" class="hbutton">Piazza</a>
			<a href="https://markus.utsc.utoronto.ca/" target="_blank" class="hbutton">MarkUs</a>
			<a href="resources.html" class="hbutton">Resources</a>
		</ul>
	</nav>

	<div class='title'>
		<h1>CSC B20 — Resources</h1>
	</div>

	<div class='pagebody'>
		<div class='sub'>
			<div id=pagebuttons>
				<a href="#online"><button class="pbutton">Online Resources</button></a>
				<a href="#softwaredoc"><button class="pbutton">Software & Documentation</button></a>
			</div>
		</div>

		<div class='subtitle' id='online'>
			<div class='block'></div>
			<h2>Online Resources</h2>
			<hr/>
			<div class='list'>
				<ul>
					<li><strong><a href="index.html" target="_blank" class='a2'>Course Website</strong></a></li>
					<li class="subitem">Course information, lecture notes, tutorial material, important announcements, etc. will be posted on the course website. It is your responsibility to visit it frequently. </li>

					<li>Beginner Tutorial for <strong><a href="https://code.tutsplus.com/articles/sql-for-beginners--net-8200" target="_blank" class='a1'>MySQL</strong></a></li>

					<li>Email Communication</li>
					<li class="subitem">Questions regarding the course material, assignments, midterm, etc. should be posed on the bulletin board. Questions about the assignment which you feel you cannot formulate without revealing your solution (should be very rare!), as well as questions and concerns regarding your personal matters should be directed to the instructor.</li>

					<li><strong><a href="https://piazza.com/class/k5l8ww7kz8l6f0" target="_blank" class='a2'>Discussion Board</strong></a></li>
					<li class="subitem">You are encouraged to use the bulletin board to discuss the course material, pose questions on the assignments, etc. The bulletin board will be monitored by the instructor and by your TAs. Please, be very careful not to reveal (parts of) your solution on the bulletin board.</li>
				</ul>
			</div>
		</div>

		<div class='subtitle' id='softwaredoc'>
			<div class='block'></div>
			<h2>Software and Documentation</h2>
			<hr/>
			<div class='list'>
				<ul>
					<li><strong>Logging into Mathlab</strong></li>
					
					<li class="subitem">Mac OS comes with the application "terminal". Simple click on it to run. Login to mathlab by typing <strong class='login'>ssh utorid@mathlab.utsc.utoronto.ca.</strong> Enter your password.</li>
				
					<li class="subitem">Windows - you will need a SSH client. PuTTY is a good free one. You can download and install here: <strong><a href="https://www.putty.org/" target="_blank" class='a2'>PuTTY.</strong></a> Use the same command as above to login to mathlab: <strong class='login'>ssh utorid@mathlab.utsc.utoronto.ca.</strong></li>

				</ul>
			</div>
		</div>
	</div>

	<div>
		<footer id='end'>
			<p>You've reached the end of the page, please visit the <strong><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank" class='a1'>faculty of Computer Science at UofT</strong></a> to learn more.</p>
			Site Design by Raisa Haque and Anagha Vadarevu.
			
		</footer>
	</div>

</body>
</html>

