.a1{
	padding-right: 3.5px;
	padding-left: 3.5px;
	text-decoration: none;
	color: #DA3E52;
	transition: color 0.2s ease 0.1s;

}

.a1:hover{
	color: #5BD34C;
	text-decoration: underline;
}

iframe{
	display: flex;
	flex: flex-shrink;
	width: 99.9%;
	height: 700px;
	border:solid 1px #777;
}

.list{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-bottom: 10px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 0px;
}

#image{
	display: flex;
	justify-content: center;
	padding: 20px;
}

img{
	max-width:100%;
}

.newsblock{
	display: flex;
}

.newsitem1{
	flex-basis: 50%;
	border-style: ridge; 
	border-color: #DA3E52;
	margin: 10px;
	align-self: center;
	background-color: #FFF07C;
}

.newsitem2{
	flex-basis: 50%;
	border-style: ridge; 
	border-color: #DA3E52;
	margin: 10px;
	align-self: center;
	background-color: #FFFADB;
}

.newsitem3{
	flex-basis: 50%;
	border-style: ridge; 
	border-color: #DA3E52;
	margin: 10px;
	align-self: center;
	background-color: #FFF5AD;
}

.newsbody{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.newstitle{
	margin-left: 10px;
	font-weight: bold;
	font-size: 20px;
	color: #1B98E0;
	font-family: 'Fira Sans', sans-serif;
}

.newsdate{
	margin-left: 10px;
	font-family: 'Bellota Text', cursive;
	color: #777777;
}
