.a1{
	padding-right: 3.5px;
	padding-left: 3.5px;
	text-decoration: none;
	color: #DA3E52;
	transition: color 0.2s ease 0.1s;

}

.a1:hover{
	color: #5BD34C;
	text-decoration: underline;
}

.tablehead{
	display: flex;
	background-color: #13293D;
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.row1{
	display: flex;
	padding-top: 8px;
	padding-bottom: 8px;
}

.row2{
	display: flex;
	background-color: #E8E8E8;
	padding-top: 8px;
	padding-bottom: 8px;
}

.solution{
	display: flex;
	background-color: #ADD9ED;
	padding-top: 8px;
	padding-bottom: 8px;
}

#week{
	flex-basis: 10%;
	color: white;
	text-align: center;
}

#lec{
	flex-basis: 20%;
	color: white;
	padding-left: 25px;
}

#lab{
	flex-basis: 70%;
	color: white;
}

.column1{
	text-align: center;
	flex-basis: 10%;
}

.date{
	flex-basis: 20%;
	padding-left: 25px;
}

.column2{
	flex-basis: 70%;
}
